h1 {
    color: cadetblue;
}

body {
    margin: 20px;
    height: calc(100%-40px);
    background-color: blanchedalmond;
}

div {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px blue;
    background: #fff;
}

div {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns: repeat(4, 8.33% 8.33% 8.33%); */
    /* grid-template-columns: repeat(4, 8.33%); */
    /* grid-template-columns: repeat(11, 100px) 100px; */
    /* grid-template-columns: 200px 20% 1fr;  */
    /*para rows é a mesma coisa*/
    grid-template-rows: 100px auto auto auto;
}

.d8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-column-end: span 2;
}

/*z-index indica a posição da sobreposição, se fica na frente de um elemento ou não*/